################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/StealthGame/FileContentIndex/15c8248e-41dd-499d-abc8-e375129b36ce.vsidx
